.header {
  display: flex;
  flex-direction: column;
  font-family: "Inter", serif;
  font-size: 16px;
  width: 100%;
  max-width: 1440px;
}

.header_container {
  display: flex;
  padding: 20px 130px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DEE2E7;
}

.Header_logo {
  max-width: 150px;
  height: auto;
  width: 100%;
}

.Header_search {
  width: 665px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #0D6EFD;
  border-radius: 6px;
  line-height: 19.36px;
}

.Header_search_input {
  width: 63%;
  font-size: 16px;
  color: #8B96A5;
  padding: 10px;
  height: 100%;
  border: none;
  cursor: pointer;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.Header_categories {
  width: 22%;
  color: #1C1C1C;
  border: none;
  border-left: 1px solid #0D6EFD;
  cursor: pointer;
}

.Header_button {
  width: 15%;
  background-color: #0D6EFD;
  color: #ffff;
  font-weight: 500;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  border: none;
}

.Header_icons {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #8B96A5;
  gap: 15px;
  height: 41px;
  cursor: pointer;
}

.Header_icon_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header_icon_box:hover {
  transform: scale(1.05);
}

.Header_icon {
  width: 20px;
  height: 20px;
}

.header_box {
  padding: 0 130px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DEE2E7;
  height: 56px;
}

.menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 620px;
  font-weight: 500;
  line-height: 22px;
  cursor: pointer;
}

.menu_logo {
  width: 18px;
  height: 12px;
  margin-right: -16px;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  cursor: pointer;
}

.Menu_flag {
  width: 22px;
  height: 16px;
  margin-left: 15px;
}

.shipping,
.languages {
  display: flex;
  align-items: center;
}

.Bottom_arrow {
  margin-left: 7px;
}

.Bottom_arrow_menu {
  margin-left: -23px;
}

@media (max-width:1320px) {
  .Header_search {
    width: 500px;
  }
}

@media (max-width:1200px) {
  .features {
    display: none;
  }

  .menu_list {
    margin: 0 auto;
  }

  .Header_search {
    display: none;
  }

  .header_container {
    justify-content: space-around;
    padding: 20px;
  }
}

@media (max-width:768px) {
  .header {
    padding: 10px 24px;
  }

  .header_box {
    display: none;
  }
}

@media (max-width:480px) {
  .Header_icons {
    display: none;
  }
}